// Custom utilities for this theme

.text-white-75 {
    color: fade-out($white, 0.25);
}

.text-small-100 {
    font-size: 44px;
}

.text-small-90 {
    font-size: 38px;
}

.text-small-80 {
    font-size: 32px;
}

.text-small-70 {
    font-size: 26px;
}

.text-small-60 {
    font-size: 20px;
}